<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        
        body {
            background-color:#ce3635;
            text-align: center;
            color:#fff;
            padding-top:10em;
          }
          h1 a{
              font-size: 50px;
          }
          button{
              background-color: lightseagreen;
              border: none;
              border-radius: 10px;
          }
          a{
              font-size: 30px;
          }
          
          * { color:#fff; text-decoration: none;}
    </style>
</head>
<body>
    <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, There!!!", "I am Abhishek Rao.", "Welcome to MailSender.", "Enjoy Mailing." ]'>
          <span class="wrap"></span>
        </a>
      </h1>
      <br>
      <br>
      <button><a href="http://127.0.0.1:8000/send/">Click for MailSender</a></button>
      <img src="BytecodeLearners.png" alt="">
      <h1>Bytecode Learners</h1>
</body>
<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
</html>